body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0000FF;
  color: #ffffff;
  padding: 35px 30px;
}

.header a {
  color: #ffffff;
  margin: 0px;
  text-decoration: none;
}

.header a:hover {
  color: #fc7e7e;
  margin: 0px;
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.page div {
  width: 90%;
  margin: 20px 0;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid #000000;
}


.page div p {
  margin: 0;
  text-align: center;
}

a.hide {
  display: none;
}


/* Макет для десктопов */
@media only screen and (min-width: 844px) {
  .page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
  }

  .page div {
    width: 40%;
    margin: 10px;
    font-size: 50px;
  }

  a.hide {
    display: inline-block;
  }
}