body {
  font-family: Arial, Helvetica, Sans-serif;
}

.yellow {
  display: flex;
  align-items: center;
  background-color: #E5E000;
  color: #ffffff;
}

.header {
  height: 200px;
}

.header p {
  padding: 0 2em;
  font-size: 50px;
}

.picture {
  width: auto;
  height: 548px;
  background-image: url(images/Marlene-Dietrich-07.jpg);
  background-repeat: repeat;
}

.caption {
  height: 100px;
}

.caption p {
  font-size: 25px;
  padding: 0 2em;
  text-transform: uppercase;
}

.text p {
  font-size: 50px;
  margin: 1em 80px;
  text-indent: 2em;
}

.footer {
  height: 200px;
  justify-content: space-between;
}

.footer * {
  font-size: 50px;
  margin: 0 60px;
}