body {
  font-family: Arial, Helvetica, Sans-serif;
}

.red {
  display: flex;
  align-items: center; 
  height: 60px;
  background-color: #FE1A19;
  color: #ffffff;
  margin: 0px;
}

.red p {
  height: auto;
  padding: 0 2em;
  font-size: 20px;
}

.strophas {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: stretch; 
}

.strophas div {
  margin: 35px;
  border: 5px solid #E5E000;
  border-radius: 30px;
  flex-basis: 400px;
}

.strophas div p {
  margin: 35px;
  white-space: pre-line;
}